.sidebar {
    width: 250px;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    background-color: #343a40;
    color: #fff;
  }
  
  .sidebar .nav-link {
    cursor: pointer;
  }
  
  .sidebar .nav-link:hover {
    background-color: #495057;
  }
  