.mt-5{
    margin-top: 4rem!important;
}
  .center-form {
    display: flex;
    flex-direction: column;
  }
  .form-header {
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  #mheader{
    margin-left: 24%;
  }
  .full-width {
    width: 100%;
  }
  .mat-form-field {
    margin-bottom: 15px;
  }
  button[mat-flat-button][color="primary"]:hover {
    background-color: rgba(42, 32, 229, 0.648); 
  }
  button[mat-flat-button][color="warn"]:hover {
    background-color: rgba(200, 40, 40, 0.879); 
  }
  
  