<div class="container mt-5">
    <p class="form-header">
        <mat-toolbar >
          <span id="Eheader">Add Your Employee Details</span>
        </mat-toolbar>
      </p>
    <form class="employee-form" #createEmployee="ngForm" (submit)="submitForm()">
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter Employee First Name"
                    [(ngModel)]="formData.firstName"
                     required
                    name="firstName"
                    #firstName="ngModel"
                    > 
                  </mat-form-field>
                  <div *ngIf="firstName.invalid && firstName.touched">
                    <span *ngIf="firstName.errors?.['required']" class="text-danger"> First Name is required</span>
                  </div>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter Employee Last Name" [(ngModel)]="formData.lastName"
                    required
                    name="lastName"
                    #lastName="ngModel">
                </mat-form-field>
                <div *ngIf="lastName.invalid && lastName.touched">
                    <span *ngIf="lastName.errors?.['required']" class="text-danger"> Last Name is required</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="formData.dob" placeholder="MM/DD/YYYY"
                    required 
                    name="dob"
                    #dob="ngModel"
                    >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="dob.invalid && dob.touched">
                    <span *ngIf="dob.errors?.['required']" class="text-danger"> Choose Date of Birth</span>
                </div>
            </div>
            <div class="col-sm-6">
                <mat-label>Gender</mat-label>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="formData.gender" name="Empgender" #Empgender="ngModel" required>
                    <mat-radio-button value="M" name="gender">Male</mat-radio-button>
                    <mat-radio-button value="F" name="gender">Female</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="Empgender.invalid && Empgender.touched">
                    <span *ngIf="Empgender.errors?.['required']" class="text-danger"> Select Gender</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Mobile</mat-label>
                    <input matInput type="text" [(ngModel)]="formData.phnNumber"
                    #phnNumber="ngModel"
                    placeholder="Enter Employee Mobile Number" required
                    name="phnNumber">
                </mat-form-field>
                <div *ngIf="phnNumber.invalid && phnNumber.touched">
                    <span *ngIf="phnNumber.errors?.['required']" class="text-danger"> Please Enter Phone Number</span>
                </div>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [(ngModel)]="formData.email"
                    required
                    placeholder="example@gmail.com"
                    name="email"
                    #email="ngModel"
                    >
                </mat-form-field>
                <div *ngIf="email.invalid && email.touched">
                    <span *ngIf="email.errors?.['required']" class="text-danger"> Please Enter Email</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Hire Date</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="formData.hireDate"
                    #hireDate="ngModel"
                    placeholder="MM/DD/YYYY" required
                    name="hireDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div *ngIf="hireDate.invalid && hireDate.touched">
                    <span *ngIf="hireDate.errors?.['required']" class="text-danger"> Hire date is required</span>
                </div>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Job Title</mat-label>
                    <mat-select [(ngModel)]="formData.jobTitle" name="jobTitle" #jobTitle="ngModel" required>
                      <mat-option value="">None</mat-option>
                      <mat-option value="Backend Developer">Backend Developer</mat-option>
                      <mat-option value="Frontend Developer">Frontend Developer</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="jobTitle.invalid && jobTitle.touched">
                    <span *ngIf="jobTitle.errors?.['required']" class="text-danger"> Please Select Job title</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Manager</mat-label>
                    <mat-select [(ngModel)]="formData.managerId" name="managerId" #managerId="ngModel" required>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor=" let mngr of mngrList" [value]="mngr['id']">{{mngr['managerName']}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="managerId.invalid && managerId.touched">
                    <span *ngIf="managerId.errors?.['required']" class="text-danger"> Please Select Manager</span>
                </div>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Department</mat-label>
                    <mat-select [(ngModel)]="formData.departmentId" name="departmentId" #departmentId="ngModel" required>
                      <mat-option >None</mat-option>
                      <mat-option *ngFor=" let dept of deptList" [value]="dept['id']">{{dept['departmentName']}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="departmentId.invalid && departmentId.touched">
                    <span *ngIf="departmentId.errors?.['required']" class="text-danger"> Please Select Department</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-label>Upload Image<span class="estric">*</span></mat-label>
                <button type="button" mat-stroked-button id="filebtn" (click)="fileInput.click()">Upload Image</button>
                <input hidden (change)="onFileSelected()" name="fileInput" #fileInput required type="file" id="file">
                <div *ngIf="selectedImagePath">
                    {{ selectedImagePath }}
                </div>
                <div class="text-danger">
                    <small *ngIf="imgSizeError" >Image Size Should be less than 200kb</small>
                </div>
                
            </div>
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Salary</mat-label>
                    <input matInput type="number" [(ngModel)]="formData.salary"
                    name="salary" required
                    #salary="ngModel"
                    placeholder="Enter Employee Salary">
                </mat-form-field>
                <div *ngIf="salary.invalid && salary.touched">
                    <span *ngIf="salary.errors?.['required']" class="text-danger"> Please Enter Salary</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Employee Status</mat-label>
                    <mat-select [(ngModel)]="formData.empStatus" name="empStatus" #empStatus="ngModel" required>
                      <mat-option>None</mat-option>
                      <mat-option value="A">Active</mat-option>
                      <mat-option value="P">Pending</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="empStatus.invalid && empStatus.touched">
                    <span *ngIf="empStatus.errors?.['required']" class="text-danger"> Please Select Employment Status</span>
                </div>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Emergency Contact Name</mat-label>
                    <input matInput [(ngModel)]="formData.emergencyContactName"
                    [ngModelOptions]="{standalone: true}" 
                    name="emergencyContactName"
                    placeholder="Enter Employee's Emergency Contact Name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Relationship with Employee</mat-label>
                    <mat-select [(ngModel)]="formData.emergencyContactRelationship"
                    [ngModelOptions]="{standalone: true}"
                     name="emergencyContactRelationship">
                      <mat-option value="">None</mat-option>
                      <mat-option value="Father">Father</mat-option>
                      <mat-option value="Mother">Mother</mat-option>
                      <mat-option value="Spouse">Spouse</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="employee-full-width">
                    <mat-label>Emergency Contact Number</mat-label>
                    <input matInput type="text" [(ngModel)]="formData.emergencyContactPhoneNumber"
                    [ngModelOptions]="{standalone: true}"
                    name="emergencyContactPhoneNumber"
                     placeholder="Enter Employee's Emergency Contact Number">
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button type="submit" color="primary" [disabled]="createEmployee.invalid">Submit</button>
        <a routerLink="">
            <button mat-raised-button color="primary">Cancel</button>
        </a>
    </form>
</div>
  