.mt-5{
    margin-top: 4rem!important;
}
#department,#manager{
    margin-left: 3px;
}
.mat-btn button{
    margin-right: 10px;
}
.container{
    overflow-x: auto;
    max-width: 100%;
}
.mat-table {
    width: 100%;
    overflow: auto;
    display: block;
}
th
td {
  flex: 1;
  box-sizing: border-box;
  min-width: 100px;
}
th {
    font-weight: bold;
    text-align: left;
  }
  .mat-row:hover {
    background-color: #f5f5f5; 
  }
  .snackBarColor{
    background-color: red;
    color: black;

  }

