<div class="container mt-5">
    <button mat-raised-button color="primary">Add Employee</button>
    <a mat-raised-button routerLink="/department" color="primary" id="department">Department</a>
    <a mat-raised-button routerLink="/manager" color="primary" id="manager">Manager</a>
<table mat-table [dataSource]="dataList" class="mat-elevation-z8 mat-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="col-header" *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="departmentId">
      <th mat-header-cell class="col-header" *matHeaderCellDef> Department ID </th>
      <td mat-cell *matCellDef="let element"> {{element.departmentId}} </td>
    </ng-container>
    <ng-container matColumnDef="managerId">
      <th mat-header-cell class="col-header" *matHeaderCellDef> Manager ID</th>
      <td mat-cell *matCellDef="let element"> {{element.managerId}} </td>
    </ng-container>
    <ng-container matColumnDef="addressId">
      <th mat-header-cell class="col-header" *matHeaderCellDef> Address ID </th>
      <td mat-cell *matCellDef="let element"> {{element.addressId}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell class="col-header" *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell class="col-header" *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell class="col-header" *matHeaderCellDef> Birth </th>
      <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell class="col-header" *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="phnNumber">
      <th mat-header-cell class="col-header" *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phnNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell  *matHeaderCellDef> Action </th>
        <td mat-cell class="mat-btn" *matCellDef="let element"> 
            <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab color="primary">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['id','departmentId','managerId','addressId','firstName','lastName','dob','email','phnNumber', 'action']"></tr>
      <tr mat-row  class="mat-row" *matRowDef="let row; columns: ['id','departmentId','managerId','addressId','firstName','lastName','dob','email','phnNumber', 'action']"></tr>
  </table>
 </div>