<main id="main" class="main">
   <div class="pagetitle list_bread_btn">
      <nav>
         <ol class="breadcrumb list_brd">
            <li class="breadcrumb-item active">Department</li>
            <li class="breadcrumb-item active">list</li>
         </ol>
      </nav>
   </div>
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <div class="card_header_main_list">
                     <div class="row d_align_center">
                        <div class="col-sm-4">
                           <h2 class="maintitlecard">
                              <span class="nav-label ng-binding">Department List</span>
                           </h2>

                        </div>
                        <div class="col-sm-8">
                           <div class="formbtnsGrp">

                              <a ui-sref="" routerLinkActive="active"><button class="buttonNew_submit mx-2">
                                    <i class="bi bi-file-earmark-arrow-up btn_icon"></i>export
                                 </button></a>
                              <a ui-sref="" routerLinkActive="active"><button class="buttonNew_submit" type="submit">
                                    <i class="bi bi-bi bi-plus-lg btn_icon"></i>add_new
                                 </button></a>
                           </div>

                        </div>
                     </div>
                  </div>

                  <div class="QA_section">
                     <div class="QA_table">

                        <table class="table table-hover">
                           <thead class="thead-light">
                              <tr>
                                 <th scope="col" width="11% !important">ID</th>
                                 <th scope="col" width="11% !important">Department Name</th>
                                 <th scope="col" width="11% !important">Location</th>
                                 <th scope="col" width="11% !important">action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                              </tr>
                              @for(dept of deptList;track dept.id){
                              <tr>
                                 <td>{{dept.id}}</td>
                                 <td>{{dept.departmentName}}</td>
                                 <td>{{dept.location}}</td>
                                 <td><a >View</a></td>
                              </tr>
                              }@empty {
                                 <tr>
                                    <td>No record Found</td>
                                 </tr>
                              }
                           </tbody>
                        </table>

                     </div>
                  </div>
                  <!-- <div class="listing_pagination_ui ng-scope">
                     <div class="showing_results ng-binding">
                        showing_1-5_of_1_results
                     </div>
                     <div class="list_pagination">

                        <ul>
                           <li>pages</li>
                           <li class="ng-binding">

                              1</li>
                           <li class="ng-binding">of 1</li>
                           <li>
                              <a class="pagination_arrow arrow_left disabled_cls">
                                 <i class="bi bi-chevron-left"></i></a>
                           </li>
                           <li>
                              <a class="pagination_arrow arrow_right disabled_cls">
                                 <i class="bi bi-chevron-right"></i>
                              </a>
                           </li>
                        </ul>

                     </div>

                  </div> -->
               </div>
            </div>
         </div>
      </div>
   </section>
</main>