<div class="login">
  <div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="UserLogin()">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" required [(ngModel)]="loginForm.username" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" required [(ngModel)]="loginForm.password" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Login</button>
          <div class="link-container">
            <a class="forgot">Forgot Password</a>
            <a class="newuser" (click)="userPopup()">New User</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
</div>